
table {
    padding-left: 20%;
    font-size: 20px;
}

tr td {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 67px;
}

.hide {
    display: none;
}

.buy {
    font-weight: bold;
    background-color: lightblue;
}

.delete {
    font-weight: bold;
    background-color: rgb(216, 48, 48);
}

.re-stock {
    font-weight: bold;
    background-color: rgb(35, 233, 68);
}